### Windows ###
*.stackdump
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
.apdisk
Network Trash Folder
Temporary Items

### Office ###
~$*
